.bgimage{
    background-image: url('./Assets/Images/background_image.jpeg');  
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.bgtextcenter{
    padding-top: 11%;
}
.bgparacenter{
    padding-bottom: 24%;
}
.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
}
#abc{
 justify-content: start;   
}
